################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs/cmdchat
/x64/Debug
/cmdchat.aps
/cmdchat.vcxproj.user
/cmdchat.vcxproj.filters
